<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Raleway:600,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/app.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/index.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/random.css" media="screen" title="no title" charset="utf-8">
    <title>Do the Thing</title>
  </head>
  <body>
    <main>

      <div class = "main-parent-container">
        <div class = "main-child-container" id="child-index-random">
          <h1>Get it done!</h1>
          <img src="/assets/lines.png" id="zigzag_1"></img>
          <img src="/assets/lines.png" id="zigzag_2"></img>

          <ul class="task-list" id="random-task">
            <h4 id="random-task-name"><%= @random_task.name %></h4>

            <%= @random_task.due_date.strftime("%A, %B %d") unless @random_task.due_date == nil %></li>

            <ul class="task-options">

              <li class="option"><form class="updated" action="/task/<%= @random_task.id %>" method="post">
                <input type="hidden" name="_method" value="patch">
                <input type="hidden" name="completed" value="true">
                <input type="hidden" name="name" value="<%= @random_task.name %>">
                <input type="hidden" name="due_date" value="<%= @random_task.due_date %>">
                <button type="submit" name="button" id="complete-button">Complete</button>
              </form></li>

              <li class="option"><a href="/tasks/<%= @random_task.id %>/edit" id="update-button">UPDATE</a></li>

              <li class="option"><form class="deleted" action="/tasks/<%= @random_task.id %>" method="post">
                <input type="hidden" name="_method" value="delete">
                <button type="submit" name="button" id="delete-button">Delete</button>
              </form></li>
            </ul>
          </ul>
        </div>
      </div>


    </main>
    <aside class="">

    </aside>
  </body>
</html>
